xsd_file.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetShipmentUpdatesResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Shipments">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Shipment">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Container">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="OrderNumber" type="xs:unsignedInt" />
                          <xs:element name="ContainerNumber" type="xs:string" />
                          <xs:element name="CustomerOrderNumber" type="xs:string" />
                          <xs:element name="ShipDate" type="xs:dateTime" />
                          <xs:element name="CarrierName" type="xs:string" />
                          <xs:element name="TrackingNumber" type="xs:string" />
                          <xs:element name="StatusCode" type="xs:string" />
                          <xs:element name="Events">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="TrackingEvent">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="TimeStamp" type="xs:dateTime" />
                                      <xs:element name="City" type="xs:string" />
                                      <xs:element name="StateOrProvince" type="xs:string" />
                                      <xs:element name="Description" type="xs:string" />
                                      <xs:element name="TrackingStatus" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="MatchingRecords" type="xs:unsignedByte" />
        <xs:element name="RequestId" />
        <xs:element name="RecordsRemaining" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getShipmentStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="getShipmentStatusResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="outcome">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="result" type="xs:string" />
                    <xs:element name="error" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="shipments">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="shipment">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="OrderNumber" type="xs:unsignedInt" />
                          <xs:element name="ContainerNumber" type="xs:string" />
                          <xs:element name="CustomerOrderNumber" type="xs:string" />
                          <xs:element name="ShipDate" type="xs:dateTime" />
                          <xs:element name="CarrierName" type="xs:string" />
                          <xs:element name="TrackingNumber" type="xs:string" />
                          <xs:element name="StatusCode" type="xs:string" />
                          <xs:element name="Events">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="TrackingEvent">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="TimeStamp" type="xs:dateTime" />
                                      <xs:element name="City" type="xs:string" />
                                      <xs:element name="StateOrProvince" type="xs:string" />
                                      <xs:element name="Description" type="xs:string" />
                                      <xs:element name="TrackingStatus" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="MatchingRecords" type="xs:unsignedByte" />
              <xs:element name="RequestId" />
              <xs:element name="RecordsRemaining" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>